Raiz/Datos/PR/Master_ESport/src/archivosParses/clasificacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clasificacion" type="calsificacionType"/>
  <xs:complexType name="EquipoType">
    <xs:sequence>
      <xs:element type="datosEquipoType" name="datosEquipo"/>
      <xs:element type="xs:string" name="resultado"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calsificacionType">
    <xs:sequence>
      <xs:element type="EquipoType" name="Equipo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datosEquipoType">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string"></xs:element>
      <xs:element name="nombre" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>